<!DOCTYPE html>
<html>
<head>
    <title>Support Assistant</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h1 {
            color: #007BFF;
        }

        .container {
            margin: 20px auto;
            max-width: 400px;
        }

        .input-group {
            margin-bottom: 20px;
        }

        .input-group label {
            display: block;
            font-weight: bold;
        }

        .input-group input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .input-group button {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .input-group button:hover {
            background-color: #0056b3;
        }

        .response {
            background-color: #f7f7f7;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Support Assistant</h1>
    <div class="container">
        <form method="post">
            <div class="input-group">
                <label for="question">Enter your question:</label>
                <input type="text" id="question" name="question" required>
            </div>
            <button type="submit">Answer</button>
        </form>

        {% if answer %}
        <div class="response">
            <p><strong>Your Question:</strong></p>
            <p>{{ question }}</p>
            <p><strong>Answer:</strong></p>
            <p>{{ answer }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
